body {
  margin: 30px;
  padding: 0px;
}
.row{
  margin-top: 6%;
  margin-bottom: 6%;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: pink;
  font-size: 60px;
  font-family: Comic Sans MS;
}
box {
  width: 100%;
  overflow: none;
}
.content-name{
  overflow:none;
  text-align: center;
  border: 5px solid maroon;
  width: 100px;
  height: 40px;
  padding: 3px;
  float:right;
  margin-top:10px;
  margin-right:28px;
  font-weight: bold;
  position: relative;
}
.content 
{
  border:3px solid black;
  width:90%;
  height: auto;
  margin: 2.5%;
  color:black;
  font-size: 30px;
  padding: 2%;
  padding-top: 60px;
  background-color:silver;
}
.name1{
background-color:olive;  
}
.name2{
background-color:lime;  
}
.name3{
background-color:teal;  
}
@media (min-width: 992px) {
.col-lg-4{
  float:left;
  width:33.33%;
}
}
@media(min-width:768px)and(max-width:991px)
{
  .col-md-6 ,col-md-12;{
  float:left;
}
.col-md-6{
  width:50%;
}
.col-md-12{
  margin-left:-10px;
  width:100px;
}
.name3{
  margin-right:65px;
  width:100px;
}
@media(min-width: 0px) and (max-width: 767px){
	.col-sm-12{
	float: left;
     width: 100%;
	}
    .content-name{
    	margin-right:30px;
    }
}
@media screen and (max-width: 992px){
.column{
	width: 50%;
}
}
@media screen and (max-width: 60px){
.column{
	width: 100%;
}
}
